body {
    background-color: #000;
  }
  a{
    color: rgb(0,250,0);
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  
  .menu{
    background-color: rgb(20,20,20)
      
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  .site-title, .site-subtitle {
    text-align: center;
    color: rgb(0,250,0);
  }